apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: client-1
  name: nginx-deployment
  labels:
    microticaService: nginx
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '80'
    spec:
      containers:
      - name: nginx
        image: nginx:1.14.2
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: 50Mi"
            cpu: "1m"
          limits:
            memory: "100Mi"
            cpu: "5m"
---
apiVersion: v1
kind: Service
metadata:
  namespace: client-1
  name: nginx-svc
  labels:
    microticaService: nginx
  annotations:
    app: nginx
spec:
  ports:
  - port: 443
    # name: http-metrics
    targetPort: 80
    protocol: TCP
  type: NodePort
  selector:
    app: nginx
